@page
@model IndexModel
@{
    ViewData["Title"] = "Список дел";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Веб-приложение "Список дел"</p>
    <p>Разработано <a href="https://github.com/gazzonn" target="_blank">gazzonn</a></p>
</div>
